body {
    padding-top: 5rem;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    align-items: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .myDiv {
    color: white;
    background-color: rgb(253, 61, 61);
    text-align: center;
    padding-top: 20px;
  }

  .Div2{
    text-align: left;
    padding: 10%;
    color: grey;
  }
  .container {
    width: 50%;
    margin: 0 auto;
  }

  .Div3{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }

  .grid-item {
    text-align: center;
    font-weight: bold;
  }

  .grid-item2 {
    text-align: center;
    color: grey;
  }

  .button {
    background-color: #0093f5; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .follow{
    text-align: center;
  }